GFT TransactionProcessor Service 1.Test/Service References/TransactionProcessorService1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransactionProcessorService1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Threading" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransactionProcessor_StartMainLoop_InputMessage">
    <wsdl:part name="parameters" element="tns:StartMainLoop" />
  </wsdl:message>
  <wsdl:message name="ITransactionProcessor_StartMainLoop_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartMainLoopResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionProcessor_StopMainLoop_InputMessage">
    <wsdl:part name="parameters" element="tns:StopMainLoop" />
  </wsdl:message>
  <wsdl:message name="ITransactionProcessor_StopMainLoop_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopMainLoopResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionProcessor_GetWorkerThreadState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkerThreadState" />
  </wsdl:message>
  <wsdl:message name="ITransactionProcessor_GetWorkerThreadState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkerThreadStateResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransactionProcessor">
    <wsdl:operation name="StartMainLoop">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionProcessor/StartMainLoop" message="tns:ITransactionProcessor_StartMainLoop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionProcessor/StartMainLoopResponse" message="tns:ITransactionProcessor_StartMainLoop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopMainLoop">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionProcessor/StopMainLoop" message="tns:ITransactionProcessor_StopMainLoop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionProcessor/StopMainLoopResponse" message="tns:ITransactionProcessor_StopMainLoop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkerThreadState">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionProcessor/GetWorkerThreadState" message="tns:ITransactionProcessor_GetWorkerThreadState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionProcessor/GetWorkerThreadStateResponse" message="tns:ITransactionProcessor_GetWorkerThreadState_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITransactionProcessor" type="tns:ITransactionProcessor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartMainLoop">
      <soap:operation soapAction="http://tempuri.org/ITransactionProcessor/StartMainLoop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopMainLoop">
      <soap:operation soapAction="http://tempuri.org/ITransactionProcessor/StopMainLoop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkerThreadState">
      <soap:operation soapAction="http://tempuri.org/ITransactionProcessor/GetWorkerThreadState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransactionProcessorService1">
    <wsdl:port name="BasicHttpBinding_ITransactionProcessor" binding="tns:BasicHttpBinding_ITransactionProcessor">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/GFT_TransactionProcessor_Service/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>